{% extends 'base.html' %}
{% block content %}

<div class="container">
    <h1 class="mt-5 mb-4">About Us</h1>
    <h2 class="mb-3">Curtain Team</h2>
    <p>We are a team of passionate perde enthusiasts, working to make your perde  experience better.</p>

    <h3 class="mt-4 mb-2">Our Team</h3>
    <ul>
      <li>Şükrücan Ahmet Köseoğlu</li>
      <li>Samet Çağrı Aktepe</li>
      <li>Meltem Özen</li>
      <li>Dilan Önal</li>
      <!-- Add more team members as needed -->
    </ul>
    <h3 class="mt-4 mb-2">Contact</h3>
      <li><a href=" mailto:">sukrucang@gmail.com</a></li>
  </div>

{% endblock %}
