{% extends 'base.html' %}
{% block content %}
    
    <iframe id="video" width="420" height="315"
        src="https://www.youtube.com/embed/{{movie.trailer}}?autoplay=1&mute=1">
    </iframe>

    <div>
        <button onclick="switchVideo('fragman')">Fragman</button>
        <button onclick="switchVideo('movie')">Movie</button>
    </div>
    
    <div>
        <h1>{{movie.title}}</h1>
        <h2>Rating: {{movie.rating}}</h2>
        <img class="home-img" src="{{movie.poster}}" alt="{{movie.title}}">
        <div>
            <div>Release year: {{movie.year}}</div>
            <div>Duration: {{movie.runtime}}</div>
            <div>Rating: {{movie.rating}}</div>
            <div>Genre: {{movie.Genre}}</div>
            
        </div>
        <div>
            <div>Director: {{movie.director}}</div>
            <div>Actors: 
                {% for actor in movie.actors.all%}
                    {{actor.name}}{% if not forloop.last %}, {% endif %}
                {% endfor %}
            </div>
            <p>{{movie.description}}</p>
        </div>
    </div>

    <script>
        function switchVideo(status) {
            if (status == "fragman") {
                document.getElementById("video").src = "https://www.youtube.com/embed/{{movie.trailer}}?autoplay=1&mute=1";
            } else if (status == "movie") {
                document.getElementById("video").src = "https://www.youtube.com/embed/{{movie.link}}?autoplay=1&mute=1";
            }
        }
    </script>


{% endblock %}
